In [2]:
a = input("Enter your age")

Enter your age3

In [4]:
type(a)

str

In [5]:
raw_input('Enter some number:') 
input('Enter some number')

NameError: name 'raw_input' is not defined

In [1]:
a= int(input("enter some number"))

enter some number23

In [2]:
type(a)

int

In [5]:
x = input("Enter first number")
y = input("Enter second number")
i = int(x)
j = int(y)
print("The sum is:", i+j)

Enter first number23
Enter second number33
The sum is: 56

In [1]:
x = int(input('Enter first number'))
y = int(input("enter second number"))
print("The sum is:", x+y)

Enter first number23
enter second number33
The sum is: 56

In [2]:
print('The sum is:', int(input("enter first number"))+ int(input('Enter second number')))

enter first number23
Enter second number33
The sum is: 56

In [6]:
#write a programme ehere read the employee data from keyboard
#Eno
#Ename
#Esal
#Eadder
#married
eno = int(input("Enter the employee number:"))
ename = input('Enter the employee name:')
eadder=input("Enter the employee number:")
Esal= float(input("Enter your salary:"))
emar = bool(input("Enter marital status:[True|False]"))
print("Please confirm your information")
print("your employee number is:", eno)
print("your Name as per our record is:", ename)
print("your address is:", eadder)
print("your salary is:", Esal)
print("your marital status is:", emar)

Enter the employee number:100
Enter the employee name:rAHUL
Enter the employee number:GURGOAN
Enter your salary:156464
Enter marital status:[True|False]True
Please confirm your information
your employee number is: 100
your Name as per our record is: rAHUL
your address is: GURGOAN
your salary is: 156464.0
your marital status is: True

In [7]:
# How to read multiple values from the keyboard in a single line:

input("Enter 5 numbers")

Enter 5 numbers23

'23'

In [9]:
a = input("Enter 5 numbers")

Enter 5 numbers23 45 22 23 44

In [10]:
type(a)

str

In [11]:
input("enter 5 number:").split()

enter 5 number:23 45 32 22 23 25 65

['23', '45', '32', '22', '23', '25', '65']

In [12]:
input("enter 5 number:").split(',')

enter 5 number:23,45,32,55,32

['23', '45', '32', '55', '32']

In [13]:
input("enter 5 number:").split(':')

enter 5 number:23:45:56:85:23

['23', '45', '56', '85', '23']

In [14]:
int(input("enter 5 number:").split())

enter 5 number:23:56:45:66:89

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [16]:
a = [int(x) for x in input("Enter 5 numbers:").split(',')]

Enter 5 numbers:23,78,64,35,45

In [17]:
type(a)

list

In [18]:
a,b,c,d,e = [int(x) for x in input("Enter 5 numbers:").split(',')]
print("The sum is:", a+b+c+d+e)

Enter 5 numbers:23,45,32,22,23
The sum is: 145

In [20]:
a,b,c,d,e = [float(x) for x in input("Enter 5 numbers:").split(',')]
print("The sum is:", a+b+c+d+e)

Enter 5 numbers:23,45,32,23,22.5
The sum is: 145.5

In [21]:
x = ('10+20+22')

In [22]:
x

'10+20+22'

In [23]:
x= eval('10+20+22') #eval is a function which check internally the type of data and prints, takes strings as argument only

In [24]:
x

52

In [25]:
type(x)

int

In [35]:
x = eval(input("Enter some list"))  #with eval comma seperated values saves as a tuple.

Enter some list43,32,22,23,34

In [36]:
x # saves as tuple

(43, 32, 22, 23, 34)

In [37]:
x = (input("Enter some list"))

Enter some list43,32,22,23,32

In [38]:
x # without eval saves as string

'43,32,22,23,32'

In [32]:
x = eval(input("Enter some list")) # with eval value passed in list saves as a list.

Enter some list[43,32,22,23,22]

In [33]:
x

[43, 32, 22, 23, 22]

In [34]:
x = eval(input("Enter some list"))
for x1 in x:
    print(x1)

Enter some list[45,32,23,34,32,23]
45
32
23
34
32
23

In [39]:
input('Enter some data').split(',')

Enter some data21,Rahul,True,30.5

['21', 'Rahul', 'True', '30.5']

In [41]:
#want to save all the data in there original data type.

a,b,c,d = [eval(x) for x in input('Enter some data').split(',')]
print(type(a))
print(type(b))
print(type(c))
print(type(d))

Enter some data21,'Rahul',True,30.5
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [42]:
a,b,c,d = [eval(x) for x in input('Enter some data').split('5')]
print(type(a))
print(type(b))
print(type(c))
print(type(d))

Enter some data235'Rahul'5True530.2
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [1]:
#Command Line Arguments

In [2]:
list1 = [12,23,22,33,45]

In [3]:
sum(list1[1:])

123

In [4]:
sum(list1)

135

In [5]:
#Output statements
# print()- Function
# print()- without argument we will get a new line.

print('Hello')
print('Good Evening')
print('How are you?')

Hello
Good Evening
How are you?

In [6]:
print('Hello')
print()
print('Good Evening')
print()
print('How are you?')
print()

Hello

Good Evening

How are you?

In [9]:
# form2
print('Hello all')
print('Hello \n all') # \n is escape character. We can use escape character in print.
print('Hello \t all')

Hello all
Hello
 all
Hello 	 all

In [10]:
print('Rahul'+ 'Tiwari')

RahulTiwari

In [11]:
print('Rahul'+' ' + 'Tiwari')

Rahul Tiwari

In [12]:
print('Rahul'*3)

RahulRahulRahul

In [13]:
print('Rahul','Tiwari')

Rahul Tiwari

In [14]:
print('Rahul','Harshawardhan') # Passing the value with comma, result gives with space.

Rahul Harshawardhan

In [15]:
#form3
#print() with multiple variable or arguments

a,b,c = 10,20,30
print('The values are:',a,b,c)

The values are: 10 20 30

In [19]:
a,b,c = 10,20,30
print('The values are:', a,',',b,',',c)

The values are: 10 , 20 , 30

In [22]:
a,b,c = 10,20,30
print(a,b,c)
print(a,b,c,sep=',') #Separator command sep.The default value of separator is space.
print(a,b,c,sep=':')
print(a,b,c,sep='5')

10 20 30
10,20,30
10:20:30
10520530

In [23]:
print('hello')
print('students')
print('To learn Python')
print('you have to practice')

hello
students
To learn Python
you have to practice

In [24]:
print('hello','students','To learn python','you have to practice')

hello students To learn python you have to practice

In [26]:
print('hello', end=' ')
print('students',end=' ')
print('To learn Python',end=' ')
print('you have to practice',end=' ')
#The default value of end is new line.

hello students To learn Python you have to practice

In [28]:
print(10,20,30,40,50, sep=':', end='----')

10:20:30:40:50----

In [30]:
list1 = [10,20,30,40]
tuple1= (10,20,30,40)
set1={10,20,30,40}
print(list1)
print(tuple1)
print(set1)

[10, 20, 30, 40]
(10, 20, 30, 40)
{40, 10, 20, 30}

In [31]:
print(list1, end=' ')
print(tuple1, end=' ')
print(set1, end=' ')

[10, 20, 30, 40] (10, 20, 30, 40) {40, 10, 20, 30}

In [32]:
print(list1, end='--- ')
print(tuple1, end='+++ ')
print(set1, end=' ')

[10, 20, 30, 40]--- (10, 20, 30, 40)+++ {40, 10, 20, 30}

In [33]:
print(list1,tuple1,set1)

[10, 20, 30, 40] (10, 20, 30, 40) {40, 10, 20, 30}

In [35]:
#print(formatted output)
a,b,c = 10.5,20,30
print('a\'s value is %i' %a)
print('a\'s value is %f' %a)

# %i, %d--- int
# %f-- float
# %s-- Str

a's value is 10
a's value is 10.500000

In [38]:
a,b,c = 10,20,30
print('a value is %i' %a)
print('a value is %i and b value is %i' %(a,b))
print('a value is %i and b value is %i and c value is %f' %(a,b,c))
print('a value is %i and b value is %i and c value is %f' %(b,c,a)) # order matters
print('a value is %s and b value is %i and c value is %f' %(b,c,a))

a value is 10
a value is 10 and b value is 20
a value is 10 and b value is 20 and c value is 30.000000
a value is 20 and b value is 30 and c value is 10.000000
a value is 20 and b value is 30 and c value is 10.000000

In [39]:
name = 'Rahul'
l = [10,20,30,40]
print('hello %s the list is %s' %(name,l))

hello Rahul the list is [10, 20, 30, 40]

In [43]:
# Replacement operators
name = 'khushal'
salary = 10000
girlfriend = 'Neha'
print('Hello {}, your salary is {} and your girlfriend {} is waiting.'.format(name, salary, girlfriend))

Hello khushal, your salary is 10000 and your girlfriend Neha is waiting.

In [47]:
name = 'khushal'
salary = 10000
girlfriend = 'Neha'
print('Hello {}, your salary is {} and your girlfriend {} is waiting.'.format(name, salary, girlfriend)) # order matters

Hello khushal, your salary is 10000 and your girlfriend Neha is waiting.

In [48]:
name = 'khushal'
salary = 10000
girlfriend = 'Neha'
print('Hello {}, your salary is {} and your girlfriend {} is waiting.'.format(girlfriend, salary, name))

Hello Neha, your salary is 10000 and your girlfriend khushal is waiting.

In [51]:
name = 'khushal'
salary = 10000
girlfriend = 'Neha'
print('Hello {2}, your salary is {1} and your girlfriend {0} is waiting.'.format(girlfriend, salary, name))
# here order of format not matter because we pass the value to the curly bracket.

Hello khushal, your salary is 10000 and your girlfriend Neha is waiting.

In [53]:
name = 'khushal'
salary = 10000
girlfriend = 'Neha'
print('Hello {khu}, your salary is {sal} and your girlfriend {gf} is waiting.'.format(gf=girlfriend, sal=salary, khu= name))
# here order of format not matter because we pass the value to the curly bracket.

Hello khushal, your salary is 10000 and your girlfriend Neha is waiting.