# operator in Python

In [1]:
#Arithmatic operators
#relational operatord or comparison operators
#logical operators
#Equality Operator
#bitwise operators
#Assignment operators
#Special Operators

In [2]:
#arithmatic operator
 # + - Addition
# - - substraction
# * - Multiplication 
# / - Division (Float)
# % - Modulo (Remainder)
#// - Floor Division operator (It will return either int or float, if the argument is int type then int else float)
#** - Power or Exponent operator

In [7]:
a = 10
b = 2
print("a+b", a+b)
print("a-b", a-b)
print("a*b", a*b)
print("a/b", a/b)
print("a%b", a%b)
print("a//b", a//b)
print("a**b", a**b)

a+b 12
a-b 8
a*b 20
a/b 5.0
a%b 0
a//b 5
a**b 100

In [ ]:
# + ---- It is also applicatble for string also. String concatenation operator.

In [8]:
'Rahul' + 3

TypeError: can only concatenate str (not "int") to str

In [11]:
'Rahul' + '3'

'Rahul3'

In [13]:
'Rahul' + str(3)

'Rahul3'

In [14]:
# * --- It is also applicable for string type --- String repetation operator.

'Rahul' * 3

'RahulRahulRahul'

In [15]:
'Rahul' * '3'

TypeError: can't multiply sequence by non-int of type 'str'

In [16]:
'Rahul'* str(3)

TypeError: can't multiply sequence by non-int of type 'str'

In [18]:
'Rahul' * 3.0 # Always expecting int type only.

TypeError: can't multiply sequence by non-int of type 'float'

In [20]:
2*'Rahul' # order is not importanta

'RahulRahul'

In [21]:
10/0

ZeroDivisionError: division by zero

In [22]:
10//0

ZeroDivisionError: integer division or modulo by zero

In [23]:
10%0

ZeroDivisionError: integer division or modulo by zero

In [24]:
10**0

1

In [25]:
#Relational operator

In [26]:
a = 10
b = 20
#>
#<
#>=
#<=
print('a>b:', a>b)
print('a>=b:', a>=b)
print('a<b:', a<b)
print('a<=b:', a<=b)

a>b: False
a>=b: False
a<b: True
a<=b: True

In [27]:
a = 'Rahul' # here it will see the length of string.
b= 'Tiwari'
print('a>b:', a>b)
print('a>=b:', a>=b)
print('a<b:', a<b)
print('a<=b:', a<=b)

a>b: False
a>=b: False
a<b: True
a<=b: True

In [28]:
a= 'Rahul' # with respect to unicode values.
b= 'rahul'
print('a>b:', a>b)
print('a>=b:', a>=b)
print('a<b:', a<b)
print('a<=b:', a<=b)

a>b: False
a>=b: False
a<b: True
a<=b: True

In [30]:
a = True # Internallt true is 1 and false is 0
b = False
print('a>b:', a>b)
print('a>=b:', a>=b)
print('a<b:', a<b)
print('a<=b:', a<=b)

a>b: True
a>=b: True
a<b: False
a<=b: False

In [31]:
10<20<12# Chaining of relational operator is possible and every comparison should be True to get output as True and if any value is false the output will be False.

False

In [32]:
10<20<30

True

In [34]:
# Equality Operator # content comparison
# ==
# !=

# When you want to to content comparision equality operator comes into picture.

In [35]:
10==20

False

In [36]:
10!=20

True

In [37]:
10==True

False

In [38]:
False==False

True

In [41]:
10==20==30# CHAINING IS POSSIBLE

False

In [42]:
10+2j == 10+2j

True

In [43]:
10==10.0

True

In [44]:
1==True

True

In [45]:
0==False

True

In [1]:
#Logical Operator
# and -> If all the arguments are true then True Only
# or -> Atleast one true is required to get True
# not
#

In [2]:
True and True

True

In [3]:
True and False

False

In [4]:
False or True

True

In [5]:
not True

False

In [8]:
10 and 20
# 0 means false
#non zero means True
# Empty string is False
x =10
y = 20
#If x evaluates to false the the result is x, otherwise y

x and y

20

In [9]:
x= ''
y = 20
x and y

''

In [10]:
x= 20
y =10
x and y

10

In [11]:
not 10

False

In [12]:
not ''

True

In [13]:
not 0

True

In [14]:
0 or 10/0

ZeroDivisionError: division by zero

In [16]:
#ternary operator

x=30 if 10<20 else 40
print(x)

30

In [17]:

x=30 if 10>20 else 40
print(x)

40

In [18]:
a = int(input('Enter first number:'))
b = int(input('Enter Second number:'))
x = a if a<b else b
print('Min value:', x)

Enter first number:4
Enter Second number:5
Min value: 4

In [19]:
# x = firstvalue if condition 1 else second value if condition 2 else third value.

In [20]:
a = int(input('Enter first number:'))
b = int(input('Enter Second number:'))
c = int(input('Enter Third number:'))
x= a if a>b>c else b if b>c else c
print(x)

Enter first number:5
Enter Second number:4
Enter Third number:2
5

In [21]:
a = int(input('Enter first number:'))
b = int(input('Enter Second number:'))
c = int(input('Enter Third number:'))
x= a if a>b>c else b if b>c else c
print(x)

Enter first number:7
Enter Second number:4
Enter Third number:6
6

In [22]:
a = int(input('Enter first number:'))
b = int(input('Enter Second number:'))
c = int(input('Enter Third number:'))
x= a if a>b and a>c else b if b>c else c
print(x)

Enter first number:7
Enter Second number:4
Enter Third number:6
7

In [23]:
a = int(input('Enter first number:'))
b = int(input('Enter Second number:'))
print('Both number are equal' if a==b else 'First Number is greater than second' 
      if a>b else 'First Number is smaller than second')

Enter first number:7
Enter Second number:5
First Number is greater than second

In [24]:
a = int(input('Enter first number:'))
b = int(input('Enter Second number:'))
print('Both number are equal' if a==b else 'First Number is greater than second' 
      if a>b else 'First Number is smaller than second')

Enter first number:5
Enter Second number:7
First Number is smaller than second

In [1]:
#Bitwise Operator
# & -> If both bits are 1 then only 1 otherwise 0.
# |-> If atleast one bit is 1 then 1 otherwise 0
# ^ -> If both bits are different then 1 otherwise 0.
# ~ -> Bitwise complement operator
   1 -> 0 and 0->1
#<< -> Bitwise left shift
# >> -> Bitwise right shift

IndentationError: unexpected indent (<ipython-input-1-b0c066ba4df3>, line 6)

In [2]:
4 & 5 #converting to binary

4

In [4]:
4|5

5

In [5]:
4^5

1

In [6]:
~4 # in binary 32bit the first digit gives the sign(0- positive, 1 negative)

-5

In [7]:
10<<2

40

In [8]:
10>>2

2

In [11]:
#Compound Assignment Operator

+=
-=
*=
/=
%=
//=
**=
&=
|=
^=
>>=
<<=

x=100
x +=10

In [12]:
x

110

In [13]:
# Special Operators
#1) Identity operators
#2) Membership Operators

In [14]:
# Identity Operators
#is
#is not

In [18]:
a=10
b=20
print(id(a))
print(id(b))
print(a is b)

140711801792592
140711801792912
False

In [19]:
a=10
b=10
print(id(a))
print(id(b))
print(a is b)

140711801792592
140711801792592
True

In [17]:
list1 = [10,20,30]
list2 = [10,20,30]
print(list1 is list2)

False

In [21]:
#membership operator
list1
10 in list1

True

In [22]:
string = 'Hello all, learning python is very very simple'
print('Hello' in string)
print('l' in string)
print(' ' in string)
print('Z' in string)

True
True
True
False

In [24]:
# Precedence in python
# ()
# **
# ~, -(number negative)
# *, /, %, //
# +, - 
# <<, >>
#&
#^
#|
# >,<, <=,>=,==,|=
# +=, -=, *=,=,
#is, is not
# in , not in
#not
#and
#or

In [25]:
# Libraries
# Modules- A group of function, class or variables

In [26]:
import math
math.sqrt(100)

10.0

In [27]:
math.pi

3.141592653589793

In [28]:
from math import sqrt, pi
sqrt(1000)

31.622776601683793

In [29]:
from math import *

In [30]:
log10(10000)

4.0