#string Operations

In [8]:
city = input("Enter your city name: ")
list1 = ['Mumbai', 'Pune','Nagpur']
if city in list1:
    print('your city is available')
else:
    print("your city", city, "is not available")

Enter your city name: Mumbai
your city is available

In [9]:
city = input("Enter your city name: ")
list1 = ['Mumbai', 'Pune','Nagpur']
if city in list1:
    print('your city is available')
else:
    print("your city", city, "is not available")

Enter your city name: Gurgoan
your city Gurgoan is not available

In [10]:
city = input("Enter your city name: ")
list1 = ['Mumbai', 'Pune','Nagpur']
if city in list1:
    print('your city is available')
else:
    print("your city", city, "is not available") # given space befor Mumbai, so showing not available

Enter your city name:  Mumbai
your city  Mumbai is not available

In [12]:
city = input("Enter your city name: ")
list1 = ['Mumbai', 'Pune','Nagpur']
if city.strip() in list1:
    print('your city is available')
else:
    print("your city", city, "is not available")

Enter your city name: Mumbai
your city is available

In [14]:
city = input("Enter your city name: ")
list1 = ['Mumbai', 'Pune','Nagpur']
if city.lstrip() in list1:
    print('your city is available')
else:
    print("your city", city, "is not available")

Enter your city name:  Mumbai
your city is available

In [15]:
city = input("Enter your city name: ")
list1 = ['Mumbai', 'Pune','Nagpur']
if city.rstrip() in list1:
    print('your city is available')
else:
    print("your city", city, "is not available")

Enter your city name: Mumbai
your city is available

In [18]:
s= "RahulTiwariRahulTiwari"
print(s.find('Tiwari'))
print(s.find('sharma'))

5
-1

In [ ]:
#substring present or not
#find()
#Return the index of the 1st match only(from left to right)
#if s is the variable as we have used then
# s.find(substring,start,end)
#If the value is not present it will return -1(It is not reverse index)

In [20]:
s= "RahulTiwariRahulTiwari"
print(s.find('Tiwari',7,22)) # 7,22 is start index and end index(range )

16

In [21]:
# rfind() reverse direction, but index from left to right
s= "RahulTiwariRahulTiwari"
print(s.rfind('Tiwari'))

16

In [22]:
s= "RahulTiwariRahulTiwari"
print(s.index('T'))

5

In [23]:
 s= "RahulTiwariRahulTiwari"
print(s.index('T',7,22))

16

In [24]:
s= "RahulTiwariRahulTiwari"
print(s.rindex('i'))

21

In [25]:
s = input("Enter main string")
sub = input("enter substring")
try:
    n = s.index(sub)
except ValueError:
    print("Substring is not found in the main string")
else:
    print("Substring found")

Enter main stringRahul Tiwari
enter substringTiwari
Substring found

In [26]:
# all the occurences of the value in the string need to find
s  = input("Enter main string")
sub = input("Enter substring")
flag = False
pos = -1 #position
n = len(s) 
while True:
    pos = s.find(sub,pos+1,n) 
    if pos==-1:
        break
    print("found at index:", pos)
    flag = True
if flag == False:
    print('Not found')

Enter main stringrahhhhhuuullllllluulllllll
Enter substringh
found at index: 2
found at index: 3
found at index: 4
found at index: 5
found at index: 6

In [27]:
s  = input("Enter main string")
sub = input("Enter substring")
flag = False
pos = -1 #position
n = len(s) 
count= 0
while True:
    pos = s.find(sub,pos+1,n) 
    if pos==-1:
        break
    print("found at index:", pos)
    flag = True
    count = count+1
if flag == False:
    print('Not found')
print("The count is: ", count)

Enter main stringrahulllllllllllllll
Enter substringl
found at index: 4
found at index: 5
found at index: 6
found at index: 7
found at index: 8
found at index: 9
found at index: 10
found at index: 11
found at index: 12
found at index: 13
found at index: 14
found at index: 15
found at index: 16
found at index: 17
found at index: 18
The count is:  15

In [28]:
#Counting the substring in the given string
s = 'rahultiwarirahultiwari'
print(s.count('rahul'))

2

In [31]:
s  = input("Enter main string")
sub = input("Enter substring")
flag = False
pos = -1 #position
n = len(s) 
#count= 0
while True:
    pos = s.find(sub,pos+1,n) 
    if pos==-1:
        break
    print("found at index:", pos)
    flag = True
    #count = count+1
if flag == False:
    print('Not found')
print(s.count(sub))

Enter main stringrahhhhuuuullllllllhhhhllll
Enter substringh
found at index: 2
found at index: 3
found at index: 4
found at index: 5
found at index: 18
found at index: 19
found at index: 20
found at index: 21
8

In [35]:
#Counting the substring in the given string
s = 'rahultiwarirahultiwari'
print(s.count('rahul',3,20))

1

In [36]:
s = 'rahultiwarirahultiwari'
s.replace('rahul','atharv')

'atharvtiwariatharvtiwari'

In [37]:
s

'rahultiwarirahultiwari'

In [41]:
s = 'RahulTiwari'
print(id(s))
s = s.replace('Rahul', 'Atharv')
print(id(s))

2757246809840
2757242024432

In [42]:
s = 'Rahul Tiwari'
list = s.split()
print(list)

['Rahul', 'Tiwari']

In [43]:
s = 'Rahul-Tiwari-Atharv'
list = s.split('-')
print(list)

['Rahul', 'Tiwari', 'Atharv']

In [44]:
s = 'Rahul-Tiwari-Atharv'
list = s.split('-')
print(list)
for i in list:
    print(i)

['Rahul', 'Tiwari', 'Atharv']
Rahul
Tiwari
Atharv

In [47]:
s = 'Rahul Tiwari Gurgaon Nagpur'
list1 = s.split(' ',2) #2 here describes how many string will be separated
for x in list1:
    print(x)

Rahul
Tiwari
Gurgaon Nagpur

In [48]:
s = 'Rahul Tiwari Gurgaon Nagpur khushal Milind sneha Priyanka Paresh Ankush'
list1 = s.split(' ',5) #5 here describes how many string will be separated
for x in list1:
    print(x)

Rahul
Tiwari
Gurgaon
Nagpur
khushal
Milind sneha Priyanka Paresh Ankush

In [49]:
l = ['Rahul', 'Tiwari', 'Gurgaon']
s = "".join(l)
print(s)

RahulTiwariGurgaon

In [50]:
l = ['Rahul', 'Tiwari', 'Gurgaon']
s = "+".join(l)
print(s)

Rahul+Tiwari+Gurgaon

In [53]:
s = 'Rahul Tiwari is a data scientist'
print(s.upper())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.capitalize())

RAHUL TIWARI IS A DATA SCIENTIST
rahul tiwari is a data scientist
rAHUL tIWARI IS A DATA SCIENTIST
Rahul Tiwari Is A Data Scientist
Rahul tiwari is a data scientist

In [54]:
#checking starting and ending part of the string.

s = 'learning python is very easy'
print(s.startswith('learning'))
print(s.endswith('easy'))

True
True

In [56]:
s = 'learning python is very easy'
print(s.startswith('learning'))
print(s.endswith('learning'))

True
False

In [ ]:
# Type of character in the string
isalnum()
isalpha()
isdigit()
islower()
isupper()
istitle()
isspace()

In [57]:
print('Rahul123'.isalnum())

True

In [59]:
print('Rahul'.isalnum())
print('123'.isalpha())

True
False

In [60]:
print('$$$$'.isalnum())

False

In [61]:
print('Rahul'.isalpha())

True

In [62]:
print('123'.isdigit())

True

In [64]:
print('Rahul'.islower())

False

In [65]:
print('rahul'.islower())

True

In [66]:
print('rahul'.isupper())

False

In [67]:
print('Rahul'.isupper())

False

In [68]:
print('RAHUL'.isupper())

True

In [70]:
print('Rahul Tiwari'.istitle())

True

In [71]:
print('Rahul tiwari'.istitle())

False

In [72]:
print('Rahul Tiwari'.isspace())

False

In [73]:
print(''.isspace())

False

In [74]:
s = input("Enter any character: ")
if s.isalnum():
    print('Alpha numeric character')
    if s.isalpha():
        print("Alphabet character")
        if s.lower():
            print('Lower case alphabet character')
        else:
            print('Upper case alphabet character')
    else:
        print('It is a digit')
elif s.isspace():
    print('It is a space character')
else:
    print('Non space special character')

Enter any character: rahul
Alpha numeric character
Alphabet character
Lower case alphabet character

In [75]:
s = input("Enter any character: ")
if s.isalnum():
    print('Alpha numeric character')
    if s.isalpha():
        print("Alphabet character")
        if s.lower():
            print('Lower case alphabet character')
        else:
            print('Upper case alphabet character')
    else:
        print('It is a digit')
elif s.isspace():
    print('It is a space character')
else:
    print('Non space special character')

Enter any character: Rahul
Alpha numeric character
Alphabet character
Lower case alphabet character

In [77]:
s = input("Enter any character: ")
if s.isalnum():
    print('Alpha numeric character')
    if s.isalpha():
        print("Alphabet character")
        if s.lower():
            print('Lower case alphabet character')
            if s.title():
                print('Title case alphabet character')
        else:
            print('Upper case alphabet character')
    else:
        print('It is a digit')
elif s.isspace():
    print('It is a space character')
else:
    print('Non space special character')

Enter any character: Rahul
Alpha numeric character
Alphabet character
Lower case alphabet character
Title case alphabet character

In [78]:
s = input("Enter any character: ")
if s.isalnum():
    print('Alpha numeric character')
    if s.isalpha():
        print("Alphabet character")
        if s.lower():
            print('Lower case alphabet character')
            if s.title():
                print('Title case alphabet character')
        else:
            print('Upper case alphabet character')
    else:
        print('It is a digit')
elif s.isspace():
    print('It is a space character')
else:
    print('Non space special character')

Enter any character: $$$$$
Non space special character

In [80]:
s = input('Enter the string: ')
s[::-1]

Enter the string: Rahul

'luhaR'

In [82]:
s = input('Enter the string: ')
reversed(s)
for x in reversed(s):
    print(x)

Enter the string: Rahul
l
u
h
a
R

In [83]:
s = input('Enter the string: ')
print(''.join(reversed(s)))

Enter the string: Rahul
luhaR

In [84]:
s = input('Enter the string: ')
for x in reversed(s):
    print(x, end="")

Enter the string: Rahul
luhaR

In [86]:
s = input('Enter the string: ')
i = len(s)-1   #len calculates the total number of string available
print(i)
output = ''
while i>=0:
    output = output+s[i]
    i=i-1
print(output)

Enter the string: Rahul
4
luhaR

In [87]:
#'Cognitive analytics private limited'
# We want 'limited private analytics cognitive'

In [89]:
s = input("Enter some string")
list = s.split()
print(list)
l1 = []
i=len(list)-1
while i>=0:
    l1.append(list[i])
    i=i-1
print(l1)
output = ' '.join(l1)
print(output)

Enter some stringCognitive analytics private limited
['Cognitive', 'analytics', 'private', 'limited']
['limited', 'private', 'analytics', 'Cognitive']
limited private analytics Cognitive

In [103]:
#input = rahul tiwari
#output = luharirawit

s = input('Enter some string: ')
l = s.split()
print(l)
l1 = []
for x in l:
    l1.append(x[::-1])
print(l1)
output = ' '.join(l1)
print(output)

Enter some string: rahul tiwari
['rahul', 'tiwari']
['luhar', 'irawit']
luhar irawit

In [ ]:
#homework
#some string
#even index character
#odd index character


#s1 ='john'
#s2 ='jame'
#output = jjoahmne

#input -B4A1D3
#output = ABD134

#input = a4b3c2
#output =aaaabbbcc


#input = a4k3b2
#output = aeknbd

In [1]:
s = input('Enter some string: ')
print('Characters at even position:', s[::2])
print('Characters at odd position:', s[1::2])

Enter some string: Rahul
Characters at even position: Rhl
Characters at odd position: au

In [2]:
s = input("Enter some string: ")
i = 0
print("The characters at even position")
while i< len(s):
    print(s[i], end = ',')
    i=i+2
print()
print("the character at odd position: ")
i=1
while i<len(s):
    print(s[i], end = ',')
    i=i+2

Enter some string: Rahul
The characters at even position
R,h,l,
the character at odd position:
a,u,

In [3]:
#input -B4A1D3
#output = ABD134
s = input("Enter some string: ")
s1 = s2 = output = ''
for x in s:
    if x.isalpha():
        s1 = s1 + x
    else:
        s2 = s2 + x
        
print(s1)
print(s2)

Enter some string: B4A1D3
BAD
413

In [5]:
s = input("Enter some string: ")
s1 = s2 = output = ''
for x in s:
    if x.isalpha():
        s1 = s1 + x
    else:
        s2 = s2 + x
for x in sorted(s1):
    output = output+x
for x in sorted(s2):
    output = output+x
        
print(output)

Enter some string: B4A1D3
ABD134

In [6]:
s = input("Enter some string: ")
s1 = s2 = output = ''
for x in s:
    if x.isalpha():
        s1 = s1 + x
    else:
        s2 = s2 + x
output= s1+s2        
print(sorted(output))

Enter some string: B4A1D3
['1', '3', '4', 'A', 'B', 'D']

In [7]:
s = input("Enter some string: ")
s1 = s2 = output = ''
for x in s:
    if x.isalpha():
        s1 = s1 + x
    elif x.isdigit():
        s2 = s2 + x
for x in sorted(s1):
    output = output+x
for x in sorted(s2):
    output = output+x
        
print(output)

Enter some string: rah253##
ahr235

In [8]:
#input = a4b3c2
#output =aaaabbbcc

s = input("Enter some string: ")
output = ''
for x in s:
    if x.isalpha():
        output = output+x
        previous = x
    else:
        output = output+previous*(int(x)-1)
print(output)

Enter some string: a4b3c2
aaaabbbcc

In [2]:
#input1 = 'Rahul'
#input1 = 'Rohit'
#output = RRaohhuilt
s1 = input('Enter 1st string: ')
s2 = input('Enter 2nd string: ')
output = ''
i=j=0
while i<len(s1) or j<len(s2):
    output = output + s1[i] + s2[j]
    i=i+1
    j=j+1
print(output)

Enter 1st string: Rahul
Enter 2nd string: Rohit
RRaohhuilt

In [3]:
s1 = input('Enter 1st string: ')
s2 = input('Enter 2nd string: ')
output = ""
i=j=0
while i<len(s1) or j<len(s2):
    if i< len(s1):
        output = output + s1[i]
        i = i+1
    if j < len(s2):
        output = output +s2[j]
        j = j+1
print(output)

Enter 1st string: Roli
Enter 2nd string: Rahul
RRoalhiul