
# Tuple

In [2]:
tuple1=(32,22,43,3,23,34,33,23)

In [5]:
tuple1

(32, 22, 43, 3, 23, 34, 33, 23)

In [6]:
type(tuple1)

tuple

In [7]:
tuple1[3]

3

In [8]:
tuple1[3]=34

TypeError: 'tuple' object does not support item assignment

In [9]:
tuple1.count(23)

2

In [10]:
tuple1

(32, 22, 43, 3, 23, 34, 33, 23)

In [11]:
tuple1.index(3)

3

In [12]:
tuple1.index(43)

2

In [13]:
tuple1

(32, 22, 43, 3, 23, 34, 33, 23)

In [14]:
sum(tuple1)

213

In [15]:
tuple1=tuple()

In [18]:
tuple1

(32, 22, 43, 3, 23, 34, 33, 23)

In [19]:
len(tuple1)

8

In [20]:
tuple1

(32, 22, 43, 3, 23, 34, 33, 23)

In [21]:
tuple1[1:5] #slicing of tuple
#slicing always on square bracket.

(22, 43, 3, 23)

In [22]:
tuple1[5::-1]

(34, 23, 3, 43, 22, 32)

# Dictionary

In [24]:
dict1={"cust_id": [1,2,3,4,5],
     "cust_name":['A','B','C','D','E'],
      "Region":['N','S','S','E','W']}

In [25]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W']}

In [26]:
dict1["Product"]=['Py','Tab','SQL','Py','R']# Adding a new key:value pair

In [27]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [30]:
dict1["cust_name"][0]= 'Z'

In [31]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [33]:
import pandas as pd

In [35]:
a = pd.DataFrame(dict1)

In [36]:
a

   cust_id cust_name Region Product
0        1         Z      N      Py
1        2         B      S     Tab
2        3         C      S     SQL
3        4         D      E      Py
4        5         E      W       R

In [37]:
type(a)

pandas.core.frame.DataFrame

In [38]:
'dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [63]:
dict2=dict1.copy()

In [64]:
dict2

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [44]:
dict2

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [46]:
dict2.fromkeys({"cust_id","product"})

{'product': None, 'cust_id': None}

In [49]:
dict3=dict2.fromkeys({"cust_id","product"},'NA')

In [50]:
dict3

{'product': 'NA', 'cust_id': 'NA'}

In [51]:
dict3['product']='Tab'

In [52]:
dict3

{'product': 'Tab', 'cust_id': 'NA'}

In [53]:
dict3['cust_name']='B'

In [54]:
dict3

{'product': 'Tab', 'cust_id': 'NA', 'cust_name': 'B'}

In [55]:
dict2

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [56]:
dict2.get('cust_id')

[1, 2, 3, 4, 5]

In [57]:
dict2.get('Product')

['Py', 'Tab', 'SQL', 'Py', 'R']

In [58]:
dict2.items()

dict_items([('cust_id', [1, 2, 3, 4, 5]), ('cust_name', ['Z', 'B', 'C', 'D', 'E']), ('Region', ['N', 'S', 'S', 'E', 'W']), ('Product', ['Py', 'Tab', 'SQL', 'Py', 'R'])])

In [59]:
dict2.keys()

dict_keys(['cust_id', 'cust_name', 'Region', 'Product'])

In [60]:
dict2.pop('cust_id')

[1, 2, 3, 4, 5]

In [61]:
dict2

{'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [65]:
dict2.popitem()

('Product', ['Py', 'Tab', 'SQL', 'Py', 'R'])

In [66]:
dict2

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W']}

In [67]:
DICT1

NameError: name 'DICT1' is not defined

In [68]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [69]:
dict1.setdefault()

TypeError: setdefault expected at least 1 argument, got 0

In [70]:
dict1.setdefault("Marks")

In [71]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R'],
 'Marks': None}

In [72]:
del dict1['Marks']

In [73]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py', 'R']}

In [74]:
del dict1['Product'][4]

In [75]:
dict1

{'cust_id': [1, 2, 3, 4, 5],
 'cust_name': ['Z', 'B', 'C', 'D', 'E'],
 'Region': ['N', 'S', 'S', 'E', 'W'],
 'Product': ['Py', 'Tab', 'SQL', 'Py']}

In [78]:
mydict1={1:2, 3:4, 5:6, 7:8}
mydict2={1:10, 9:20}

In [79]:
mydict1

{1: 2, 3: 4, 5: 6, 7: 8}

In [80]:
mydict2

{1: 10, 9: 20}

In [81]:
mydict1.update(mydict2)

In [82]:
mydict1

{1: 10, 3: 4, 5: 6, 7: 8, 9: 20}

In [83]:
dict1.values()

dict_values([[1, 2, 3, 4, 5], ['Z', 'B', 'C', 'D', 'E'], ['N', 'S', 'S', 'E', 'W'], ['Py', 'Tab', 'SQL', 'Py']])

In [85]:
tuple1=(1,2,3,4,5)

In [87]:
list1=list(tuple1)

In [88]:
list1

[1, 2, 3, 4, 5]

In [89]:
list1[0]=100

In [91]:
tuple1=tuple(list1)

In [92]:
tuple1

(100, 2, 3, 4, 5)

In [93]:
tuple1=(1,2,3,[4,5,6])

In [94]:
tuple1

(1, 2, 3, [4, 5, 6])

In [95]:
type(tuple1)

tuple

In [96]:
tuple1

(1, 2, 3, [4, 5, 6])

In [97]:
tuple1[3]

[4, 5, 6]

In [98]:
tuple1[3][1]=50

In [99]:
tuple1

(1, 2, 3, [4, 50, 6])

# set

In [23]:
myset1 = {1,1,2,2,3,4,5,6,6,6,6,7,7,7,8,8,8,8,8,8,9,9,9,9,9}

In [7]:
myset1

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
myset1.add(100)3\#single value can be added

In [9]:
myset1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 100}

In [10]:
myset1.add([11,12,13,15])

TypeError: unhashable type: 'list'

In [11]:
myset1.clear()

In [12]:
myset1

set()

In [14]:
myset2=myset1.copy()

In [16]:
myset2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [17]:
myset1.discard()

TypeError: discard() takes exactly one argument (0 given)

In [18]:
myset1.discard(7)

In [19]:
myset1

{1, 2, 3, 4, 5, 6, 8, 9}

In [21]:
myset1.pop()

2

In [26]:
myset1[1:5]

TypeError: 'set' object is not subscriptable

In [27]:
myset1.remove(7)

In [28]:
myset1

{1, 2, 3, 4, 5, 6, 8, 9}

In [47]:
myset3= {1,2,3}
myset4={3,4,5,6}

In [32]:
myset3.union(myset4)

{1, 2, 3, 4, 5, 6}

In [33]:
myset3 #myset3 is not updated. only union is is done

{1, 2, 3}

In [34]:
myset3.update(myset4)

In [35]:
myset3

{1, 2, 3, 4, 5, 6}

In [37]:
myset3.difference(myset4)

{1, 2}

In [38]:
myset4.difference(myset3)#gives the value of primary set. here myset4 is primary set.

{4, 5, 6}

In [39]:
myset3.difference_update(myset4)

In [40]:
myset3

{1, 2}

In [42]:
myset3.intersection(myset4)

{3}

In [43]:
myset3

{1, 2, 3}

In [44]:
myset4

{3, 4, 5, 6}

In [45]:
myset3.intersection_update(myset4)

In [46]:
myset3

{3}

In [48]:
myset3.isdisjoint(myset4)# disjoint means- if any common value is there or not. If common value is there it will give false.

False

In [50]:
myset3

{1, 2, 3}

In [51]:
myset4

{3, 4, 5, 6}

In [52]:
myset5= {4,5,6}

In [53]:
myset3.isdisjoint(myset5)# no common values between the sets.

True

In [54]:
myset3.issubset(myset4)

False

In [56]:
myset6={1,2,3,4,5,6,7,8,9,10}

In [57]:
myset5

{4, 5, 6}

In [58]:
myset5.issubset(myset6)

True

In [59]:
myset6.issuperset(myset5)

True

In [64]:
myset7={1,2,3,4}
myset8={'a','b','c'}

In [65]:
myset7.symmetric_difference(myset8)

{1, 2, 3, 4, 'a', 'b', 'c'}

In [66]:
myset7={1,2,3,4}
myset8={4,'a','b','c'}

In [68]:
myset7.symmetric_difference(myset8) #Common values will be ignored.

{1, 2, 3, 'a', 'b', 'c'}

In [69]:
myset7.symmetric_difference_update(myset8)

In [70]:
myset7

{1, 2, 3, 'a', 'b', 'c'}